<div class="timeline">
  <div class="filters" style="margin-top: 10px;" layout="row" md-whiteframe="1" layout-padding>
  	<div flex-xs flex="22">
        <md-checkbox class="md-primary" ng-model="vm.filters.issues" aria-label="Show issues">Show closed issues</md-checkbox>
    </div>
    <div flex-xs flex="22">
        <md-checkbox class="md-primary" ng-model="vm.filters.transfers" aria-label="Show transfers">Show transfers</md-checkbox>
    </div>
    <div flex-xs flex="30">
        <input type="text" placeholder="Filter..." />
    </div>
    <div flex-xs flex="26">
        <md-checkbox class="md-primary" ng-model="vm.filters.done" aria-label="Show open days">Show open days only</md-checkbox>
    </div>
  </div>

  <div class="days">
  	<div class="day" md-whiteframe="1" ng-class="{active: day.$$active}" ng-repeat="day in vm.timeline">
  		<div class="status" ng-click="vm.toggle($event, day, true)">
  			<div class="graph">
	  			<span class="issue" ng-class="{empty: issue.hide}" ng-repeat="issue in day.issues track by $index">
	  				<span ng-if="issue.event" class="icon" ng-class="{success: issue.close}"><i class="fa" ng-class="{'fa-check': issue.close, 'fa-warning': issue.open && !issue.close}"></i></span>
	  				<span class="line" ng-class="{end: issue.close, start: issue.open, hidden: issue.single}"></span>
	  			</span>
  			</div>
  			<h6>{{day.$$when}}</h6>
  			<i class="fa fa-angle-down" ng-click="vm.toggle($event, day)"></i>
  		</div>
  		<div class="day-content" ng-show="day.$$active">
  			<div class="in">
  				<pre>{{day | json}}</pre>
  			</div>
  		</div>
  	</div>
  </div>
</div>
