
.viewport {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100%;

  &.viewport-left {
    align-items: flex-start;
    padding-left: 2rem;
  }

  &.viewport-top {
    justify-content: flex-start;
  }

  &.viewport-half {
    min-height: 50%;
  }
  &.viewport-third {
    min-height: calc(33.33% - 60px)
  }
}
